{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
           "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/transform-regenerator",
    "@babel/plugin-transform-template-literals",
    "react-hot-loader/babel"
  ],
}